CSS

body {
  font-family: 'Arial', sans-serif;
  background-color: #cfd0d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 28px;
  color: #000000;
  text-align: center;
  margin-bottom: 25px;
}

input[type="text"] {
  width: calc(100% - 50px);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: purple;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

li button {
  background-color: #dc3545;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

li button:hover {
  background-color: #c82333;
}